<%= form_with(model: [@friend, @gift], local: true, data: { turbo: false }) do |form| %>  
    <div class="field">
        <%= form.label :Description %>
        <%= form.text_field :description %>
    </div>
  
    <div class="field">
        <%= form.label :Price %>
        <%= form.text_field :price %>
    </div>
  
    <div class="field">
        <%= form.label :Link %>
        <%= form.text_field :link %>
    </div>
  
    <div class="actions">
        <%= form.submit %>
    </div>

    <% if @gift.errors.any? %>
        <div id="errorMessage">
        <h2><%= pluralize(@gift.errors.count, "error") %> prohibited this gift from being saved:</h2>
            <ul>
                <% @gift.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
<% end %>